<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlyedu.ordermigratedbtool.dao.ChannelTypeMapper">
  <resultMap id="BaseResultMap" type="com.onlyedu.ordermigratedbtool.model.entity.ChannelType">
    <constructor>
      <idArg column="ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="TypeId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="TypeName" javaType="java.lang.String" jdbcType="NVARCHAR" />
      <arg column="Fid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sort" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="IsVaild" javaType="java.lang.Boolean" jdbcType="BIT" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ID, TypeId, TypeName, Fid, sort, IsVaild
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ChannelType
    where ID = #{ID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ChannelType
    where ID = #{ID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.ChannelType">
    insert into ChannelType (ID, TypeId, TypeName, 
      Fid, sort, IsVaild)
    values (#{ID,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=NVARCHAR}, 
      #{fid,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{isVaild,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.onlyedu.ordermigratedbtool.model.entity.ChannelType">
    insert into ChannelType
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        ID,
      </if>
      <if test="typeId != null">
        TypeId,
      </if>
      <if test="typeName != null">
        TypeName,
      </if>
      <if test="fid != null">
        Fid,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isVaild != null">
        IsVaild,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ID != null">
        #{ID,jdbcType=INTEGER},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=NVARCHAR},
      </if>
      <if test="fid != null">
        #{fid,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isVaild != null">
        #{isVaild,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.onlyedu.ordermigratedbtool.model.entity.ChannelType">
    update ChannelType
    <set>
      <if test="typeId != null">
        TypeId = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        TypeName = #{typeName,jdbcType=NVARCHAR},
      </if>
      <if test="fid != null">
        Fid = #{fid,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isVaild != null">
        IsVaild = #{isVaild,jdbcType=BIT},
      </if>
    </set>
    where ID = #{ID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.onlyedu.ordermigratedbtool.model.entity.ChannelType">
    update ChannelType
    set TypeId = #{typeId,jdbcType=INTEGER},
      TypeName = #{typeName,jdbcType=NVARCHAR},
      Fid = #{fid,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      IsVaild = #{isVaild,jdbcType=BIT}
    where ID = #{ID,jdbcType=INTEGER}
  </update>
</mapper>