<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlyedu.ordermigratedbtool.dao.EosOrderMapper">
    <!--  <resultMap id="BaseResultMap" type="com.onlyedu.ordermigratedbtool.model.entity.EosOrder">-->
    <!--    <constructor>-->
    <!--      <idArg column="Id" javaType="java.lang.Integer" jdbcType="INTEGER" />-->
    <!--      <arg column="OrderNo" javaType="java.lang.String" jdbcType="NVARCHAR" />-->
    <!--      <arg column="EosStudentID" javaType="java.lang.String" jdbcType="NVARCHAR" />-->
    <!--      <arg column="FeeContent" javaType="java.lang.String" jdbcType="NVARCHAR" />-->
    <!--      <arg column="OrderTime" javaType="java.time.LocalDateTime" jdbcType="TIMESTAMP" />-->
    <!--      <arg column="CourseProductName" javaType="java.lang.String" jdbcType="NVARCHAR" />-->
    <!--      <arg column="OrderBalance" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />-->
    <!--      <arg column="RemainRemaining" javaType="java.math.BigDecimal" jdbcType="DECIMAL" />-->
    <!--      <arg column="RelativeState" javaType="java.lang.Boolean" jdbcType="BIT" />-->
    <!--      <arg column="OrderHeadID" javaType="java.lang.Integer" jdbcType="INTEGER" />-->
    <!--    </constructor>-->
    <!--  </resultMap>-->


    <insert id="insert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.EosOrder">
        insert into EosOrder (Id, OrderNo, EosStudentID,
                              FeeContent, OrderTime, CourseProductName,
                              OrderBalance, RemainRemaining, RelativeState,
                              OrderHeadID)
        values (#{id,jdbcType=INTEGER}, #{orderNo,jdbcType=NVARCHAR}, #{eosStudentID,jdbcType=NVARCHAR},
                #{feeContent,jdbcType=NVARCHAR}, #{orderTime,jdbcType=TIMESTAMP},
                #{courseProductName,jdbcType=NVARCHAR},
                #{orderBalance,jdbcType=DECIMAL}, #{remainRemaining,jdbcType=DECIMAL}, #{relativeState,jdbcType=BIT},
                #{orderHeadID,jdbcType=INTEGER})
    </insert>

    <select id="getAll" resultType="com.onlyedu.ordermigratedbtool.model.entity.EosOrder">
        SELECT OrderNo,
               EosStudentID,
               FeeContent,
               OrderTime,
               CourseProductName,
               OrderBalance,
               RemainRemaining
        FROM [NewClassesAdmin].[dbo].[EosOrder]
    </select>

    <insert id="batchInsert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.EosOrder">
        insert into EosOrder (OrderNo, EosStudentID,
        FeeContent, OrderTime, CourseProductName,
        OrderBalance, RemainRemaining
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.orderNo,jdbcType=NVARCHAR}, #{item.eosStudentID,jdbcType=NVARCHAR},
            #{item.feeContent,jdbcType=NVARCHAR}, #{item.orderTime,jdbcType=TIMESTAMP},
            #{item.courseProductName,jdbcType=NVARCHAR},
            cast(#{item.orderBalance,jdbcType=DECIMAL} as decimal(18,2)),
            cast( #{item.remainRemaining,jdbcType=DECIMAL} as decimal(18,2))
            )
        </foreach>
    </insert>

</mapper>