<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlyedu.ordermigratedbtool.dao.UserRemarksMapper">

  <insert id="insert" parameterType="com.onlyedu.ordermigratedbtool.model.entity.UserRemarks">
    insert into UserRemarks (Id, StudentId, NextRemarksTime, 
      UserIntentionId, BMlevel, RemarkType, 
      recordId, IsNoticeCustomDirector, AddBy, 
      AddedTime, IsDelete, DeleteBy, 
      DeleteTime, IsModify, ModifyBy, 
      ModifyTime, Action, warinType, 
      Advise, ActionTime, RemarksType, 
      Remarks)
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=CHAR}, #{nextRemarksTime,jdbcType=TIMESTAMP}, 
      #{userIntentionId,jdbcType=CHAR}, #{BMlevel,jdbcType=INTEGER}, #{remarkType,jdbcType=INTEGER}, 
      #{recordId,jdbcType=VARCHAR}, #{isNoticeCustomDirector,jdbcType=BIT}, #{addBy,jdbcType=VARCHAR}, 
      #{addedTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, #{deleteBy,jdbcType=VARCHAR}, 
      #{deleteTime,jdbcType=TIMESTAMP}, #{isModify,jdbcType=BIT}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{action,jdbcType=INTEGER}, #{warinType,jdbcType=VARCHAR}, 
      #{advise,jdbcType=INTEGER}, #{actionTime,jdbcType=TIMESTAMP}, #{remarksType,jdbcType=INTEGER}, 
      #{remarks,jdbcType=LONGNVARCHAR})
  </insert>

<!--  <update id="updateByPrimaryKey" parameterType="com.onlyedu.ordermigratedbtool.model.entity.UserRemarks">-->
<!--    update UserRemarks-->
<!--    set StudentId = #{studentId,jdbcType=CHAR},-->
<!--      NextRemarksTime = #{nextRemarksTime,jdbcType=TIMESTAMP},-->
<!--      UserIntentionId = #{userIntentionId,jdbcType=CHAR},-->
<!--      BMlevel = #{BMlevel,jdbcType=INTEGER},-->
<!--      RemarkType = #{remarkType,jdbcType=INTEGER},-->
<!--      recordId = #{recordId,jdbcType=VARCHAR},-->
<!--      IsNoticeCustomDirector = #{isNoticeCustomDirector,jdbcType=BIT},-->
<!--      AddBy = #{addBy,jdbcType=VARCHAR},-->
<!--      AddedTime = #{addedTime,jdbcType=TIMESTAMP},-->
<!--      IsDelete = #{isDelete,jdbcType=BIT},-->
<!--      DeleteBy = #{deleteBy,jdbcType=VARCHAR},-->
<!--      DeleteTime = #{deleteTime,jdbcType=TIMESTAMP},-->
<!--      IsModify = #{isModify,jdbcType=BIT},-->
<!--      ModifyBy = #{modifyBy,jdbcType=VARCHAR},-->
<!--      ModifyTime = #{modifyTime,jdbcType=TIMESTAMP},-->
<!--      Action = #{action,jdbcType=INTEGER},-->
<!--      warinType = #{warinType,jdbcType=VARCHAR},-->
<!--      Advise = #{advise,jdbcType=INTEGER},-->
<!--      ActionTime = #{actionTime,jdbcType=TIMESTAMP},-->
<!--      RemarksType = #{remarksType,jdbcType=INTEGER}-->
<!--    where Id = #{id,jdbcType=INTEGER}-->
<!--  </update>-->
</mapper>